--- drivers/net/wireless/realtek/rtl8xxxu/Kconfig
+++ drivers/net/wireless/realtek/rtl8xxxu/Kconfig
@@ -1,8 +1,9 @@
+# SPDX-License-Identifier: GPL-2.0-only
 #
 # RTL8XXXU Wireless LAN device configuration
 #
 config RTL8XXXU
-	tristate "RTL8723AU/RTL8188[CR]U/RTL819[12]CU (mac80211) support"
+	tristate "RTL8723AU/RTL8188[EU/CR]U/RTL819[12]CU (mac80211) support"
 	depends on MAC80211 && USB
 	---help---
 	  This is an alternative driver for various Realtek RTL8XXX
